<div>
  <h2 style="margin-top: 0px;">Nguyên nhân gây ra mụn trứng cá:</h2>
  <ul>
    <li><b>Sự tăng tiết bã nhờn:</b>Tuyến bã nhờn hoạt động quá mức, sản xuất ra nhiều dầu hơn cần thiết, có thể làm tắc nghẽn lỗ chân lông.</li>
    <li><b>Tắc nghẽn lỗ chân lông:</b> Các tế bào da chết và bã nhờn có thể làm tắc nghẽn lỗ chân lông, dẫn đến mụn.</li>
    <li><b>Vi khuẩn:</b> Vi khuẩn Propionibacterium acnes (P. acnes) sống trên da có thể gây viêm và mụn khi chúng phát triển quá mức.</li>
    <li><b>Hormone:</b> Sự thay đổi hormone, đặc biệt là trong tuổi dậy thì, có thể làm tăng sản xuất bã nhờn và gây mụn.</li>
    <li><b>Di truyền:</b> Yếu tố di truyền có thể đóng vai trò trong việc ai đó dễ bị mụn trứng cá hơn.</li>
    <li><b>Căng thẳng:</b> Căng thẳng không gây mụn trực tiếp nhưng có thể làm tình trạng mụn trở nên tồi tệ hơn.</li>
    <li><b>Sử dụng mỹ phẩm không phù hợp:</b> Sử dụng các sản phẩm mỹ phẩm chứa dầu hoặc gây tắc nghẽn lỗ chân lông có thể góp phần gây mụn.</li>
    <li><b>Chế độ ăn uống:</b> Một số nghiên cứu cho thấy rằng chế độ ăn uống nhiều đường và các sản phẩm từ sữa có thể liên quan đến việc phát triển mụn.</li>
  </ul>

  <h2 style="margin-top: 2rem;">Những điều cần làm khi bị mụn trứng cá:</h2>
  <ul>
    <li><b>Giữ Da Sạch:</b> Rửa mặt nhẹ nhàng hai lần mỗi ngày với sữa rửa mặt dịu nhẹ, không chứa xà phòng. Tránh chạm tay lên mặt để ngăn ngừa vi khuẩn và dầu từ tay làm tình trạng mụn nặng hơn.</li>
    <li><b>Sử Dụng Sản Phẩm Chăm Sóc Da Phù Hợp:</b> Chọn sản phẩm chăm sóc da và mỹ phẩm không gây mụn (non-comedogenic).</li>
    <li><b>Điều Trị Mụn:</b> Sử dụng các sản phẩm điều trị mụn chứa benzoyl peroxide, salicylic acid hoặc retinoids. Tham khảo bác sĩ da liễu nếu mụn nghiêm trọng để có phương pháp điều trị phù hợp.</li>
    <li><b>Duy Trì Lối Sống Lành Mạnh:</b> Ăn uống cân bằng, uống nhiều nước, và tránh thức ăn nhiều dầu mỡ, đường. Ngủ đủ giấc và giảm căng thẳng, vì stress có thể làm tình trạng mụn tồi tệ hơn.</li>
    <li><b>Tránh Các Thói Quen Có Hại:</b> Không nặn mụn để tránh sẹo và nhiễm trùng. Tránh sử dụng các sản phẩm chứa cồn hoặc tẩy rửa mạnh gây kích ứng da.</li>
  </ul>
</div>
  