<div>
    <h2 style="margin-top: 0px;">Nguyên nhân gây ra thủy đậu:</h2>
    <ul>
      <li><b>Virus Varicella-Zoster:</b> Thủy đậu do virus Varicella-Zoster (VZV) gây ra, một loại virus thuộc họ herpesvirus.</li>
      <li><b>Tiếp xúc trực tiếp:</b> Tiếp xúc trực tiếp với người bị thủy đậu hoặc các vật dụng nhiễm virus từ người bệnh, chẳng hạn như quần áo, chăn màn.</li>
      <li><b>Giọt bắn:</b> Virus lây lan qua giọt bắn từ mũi hoặc miệng của người bị nhiễm khi họ ho, hắt hơi hoặc nói chuyện.</li>
      <li><b>Hệ miễn dịch yếu:</b> Những người có hệ miễn dịch suy giảm, chẳng hạn như trẻ nhỏ, người già hoặc người bị bệnh mãn tính, có nguy cơ cao bị nhiễm thủy đậu.</li>
    </ul>
  
    <h2 style="margin-top: 2rem;">Những điều cần làm khi bị thủy đậu:</h2>
    <ul>
      <li><b>Nghỉ Ngơi Đầy Đủ:</b> Nghỉ ngơi tại nhà để giúp cơ thể phục hồi và tránh lây nhiễm cho người khác. Tránh tiếp xúc với những người chưa từng bị thủy đậu hoặc chưa tiêm phòng.</li>
      <li><b>Giữ Vệ Sinh Cá Nhân:</b> Rửa tay thường xuyên và giữ vùng da bị thủy đậu sạch sẽ để ngăn ngừa nhiễm trùng thứ cấp. Sử dụng xà phòng nhẹ và nước ấm để tắm.</li>
      <li><b>Giảm Ngứa:</b> Sử dụng các loại kem hoặc thuốc chống ngứa không kê đơn như calamine lotion. Tránh gãi để ngăn ngừa nhiễm trùng và sẹo.</li>
      <li><b>Uống Nhiều Nước:</b> Uống đủ nước để duy trì độ ẩm cho cơ thể và giúp cơ thể hồi phục nhanh chóng.</li>
      <li><b>Sử Dụng Thuốc Hạ Sốt và Giảm Đau:</b> Dùng paracetamol để hạ sốt và giảm đau. Tránh sử dụng aspirin, đặc biệt là cho trẻ em, vì có thể gây hội chứng Reye.</li>
      <li><b>Điều Trị Bằng Thuốc Kháng Virus:</b> Trong trường hợp nghiêm trọng, bác sĩ có thể kê đơn thuốc kháng virus như acyclovir để giảm thời gian và mức độ nghiêm trọng của bệnh.</li>
      <li><b>Cách Ly:</b> Tránh tiếp xúc với người khác, đặc biệt là những người có nguy cơ cao như trẻ sơ sinh, người già, phụ nữ mang thai và những người có hệ miễn dịch suy giảm.</li>
      <li><b>Tiêm Phòng:</b> Đảm bảo tất cả mọi người trong gia đình đã tiêm phòng thủy đậu để ngăn ngừa lây nhiễm và bảo vệ sức khỏe cộng đồng.</li>
    </ul>
</div>