<div>
    <h2 style="margin-top: 0px;">Nguyên nhân gây ra mụn cóc:</h2>
    <ul>
      <li><b>Virus Human Papillomavirus (HPV):</b> Mụn cóc do các chủng khác nhau của virus HPV gây ra. Virus này xâm nhập vào cơ thể qua các vết trầy xước hoặc tổn thương nhỏ trên da.</li>
      <li><b>Tiếp xúc trực tiếp:</b> Tiếp xúc trực tiếp với mụn cóc của người bị nhiễm hoặc các bề mặt nhiễm virus như sàn nhà, bồn tắm công cộng hoặc các vật dụng cá nhân có thể lây nhiễm HPV.</li>
      <li><b>Hệ miễn dịch yếu:</b> Những người có hệ miễn dịch suy giảm, chẳng hạn như người bị HIV/AIDS hoặc người dùng thuốc ức chế miễn dịch, có nguy cơ cao bị mụn cóc.</li>
      <li><b>Thói quen vệ sinh kém:</b> Không giữ vệ sinh cá nhân tốt, chẳng hạn như không rửa tay thường xuyên hoặc dùng chung vật dụng cá nhân, có thể làm tăng nguy cơ nhiễm HPV.</li>
    </ul>
  
    <h2 style="margin-top: 2rem;">Những điều cần làm khi bị mụn cóc:</h2>
    <ul>
      <li><b>Sử Dụng Thuốc Bôi Điều Trị:</b> Dùng các loại thuốc bôi không kê đơn chứa acid salicylic để làm mềm và loại bỏ mụn cóc. Tham khảo bác sĩ để được kê đơn thuốc mạnh hơn nếu cần thiết.</li>
      <li><b>Giữ Vệ Sinh Cá Nhân:</b> Rửa tay thường xuyên và tránh chạm vào mụn cóc để ngăn ngừa lây lan virus sang các vùng da khác hoặc người khác.</li>
      <li><b>Bảo Vệ Vùng Da Bị Mụn Cóc:</b> Che kín mụn cóc bằng băng keo hoặc băng gạc để ngăn ngừa lây lan virus và giảm nguy cơ tổn thương thêm.</li>
      <li><b>Tránh Tiếp Xúc Trực Tiếp:</b> Không dùng chung đồ dùng cá nhân như khăn tắm, dao cạo, và giày dép với người khác để ngăn ngừa lây nhiễm HPV.</li>
      <li><b>Điều Trị Y Khoa:</b> Nếu mụn cóc không tự biến mất hoặc gây đau đớn, tham khảo bác sĩ để được điều trị bằng các phương pháp như đốt lạnh, đốt điện, hoặc phẫu thuật cắt bỏ.</li>
      <li><b>Tăng Cường Hệ Miễn Dịch:</b> Duy trì một lối sống lành mạnh, ăn uống cân bằng, tập thể dục đều đặn và ngủ đủ giấc để tăng cường hệ miễn dịch, giúp cơ thể chống lại virus HPV.</li>
      <li><b>Không Cắn Móng Tay:</b> Tránh cắn móng tay hoặc cắn da xung quanh móng, vì các vết trầy xước nhỏ có thể tạo điều kiện cho virus xâm nhập.</li>
    </ul>
</div>