<div>
    <h2 style="margin-top: 0px;">Nguyên nhân gây ra viêm da:</h2>
    <ul>
      <li><b>Dị ứng:</b> Phản ứng dị ứng với một số chất gây kích ứng, chẳng hạn như nước hoa, thuốc nhuộm, và các chất hóa học trong mỹ phẩm và sản phẩm chăm sóc da.</li>
      <li><b>Di truyền:</b> Yếu tố di truyền có thể khiến một người dễ bị viêm da hơn, đặc biệt là viêm da dị ứng.</li>
      <li><b>Các chất kích thích:</b> Tiếp xúc với các chất gây kích thích như xà phòng mạnh, hóa chất công nghiệp, và các sản phẩm làm sạch có thể gây viêm da tiếp xúc.</li>
      <li><b>Yếu tố môi trường:</b> Điều kiện thời tiết khắc nghiệt, chẳng hạn như khô ráo hoặc lạnh, có thể làm da khô và gây viêm da.</li>
      <li><b>Vi khuẩn và nấm:</b> Nhiễm trùng da bởi vi khuẩn hoặc nấm có thể gây viêm da.</li>
      <li><b>Stress:</b> Stress có thể làm tăng nguy cơ phát triển và làm tình trạng viêm da trở nên tồi tệ hơn.</li>
      <li><b>Hệ miễn dịch:</b> Các vấn đề với hệ miễn dịch, chẳng hạn như rối loạn tự miễn, có thể góp phần vào viêm da.</li>
    </ul>
  
    <h2 style="margin-top: 2rem;">Những điều cần làm khi bị viêm da:</h2>
    <ul>
      <li><b>Giữ Da Sạch:</b> Rửa vùng da bị viêm nhẹ nhàng với nước ấm và sử dụng sữa rửa mặt dịu nhẹ, không chứa xà phòng.</li>
      <li><b>Sử Dụng Sản Phẩm Dưỡng Ẩm:</b> Sử dụng kem dưỡng ẩm không chứa hương liệu và các chất gây kích ứng để giữ cho da mềm mại và ngăn ngừa khô da.</li>
      <li><b>Tránh Các Chất Kích Thích:</b> Tránh tiếp xúc với các chất gây dị ứng hoặc kích thích đã biết, và sử dụng găng tay khi tiếp xúc với hóa chất mạnh.</li>
      <li><b>Điều Trị Y Tế:</b> Tham khảo bác sĩ da liễu để được kê đơn thuốc bôi hoặc uống, chẳng hạn như corticosteroids, để giảm viêm và ngứa. Trong một số trường hợp, liệu pháp ánh sáng cũng có thể được khuyến nghị.</li>
      <li><b>Giảm Stress:</b> Thực hành các kỹ thuật giảm stress như thiền, yoga, hoặc thể dục nhẹ để cải thiện tình trạng viêm da.</li>
      <li><b>Mặc Quần Áo Thoáng Mát:</b> Chọn quần áo bằng vải mềm, thoáng khí và tránh các loại vải gây kích ứng như len hoặc sợi tổng hợp.</li>
      <li><b>Chăm Sóc Da Đúng Cách:</b> Không gãi hoặc chà xát vùng da bị viêm để tránh làm tình trạng trở nên tồi tệ hơn. Giữ móng tay ngắn và sạch để giảm nguy cơ nhiễm trùng.</li>
    </ul>
  </div>