<div>
    <h2 style="margin-top: 0px;">Nguyên nhân gây ra bệnh tay chân miệng:</h2>
    <ul>
      <li><b>Virus Enterovirus:</b> Bệnh tay chân miệng chủ yếu do virus Enterovirus, đặc biệt là Coxsackievirus A16 và Enterovirus 71, gây ra.</li>
      <li><b>Tiếp xúc trực tiếp:</b> Virus lây lan qua tiếp xúc trực tiếp với người bị nhiễm, hoặc qua dịch tiết từ mũi, miệng, hoặc phân của người bệnh.</li>
      <li><b>Giọt bắn:</b> Virus cũng có thể lây lan qua giọt bắn từ mũi hoặc miệng của người bị nhiễm khi họ ho, hắt hơi, hoặc nói chuyện.</li>
      <li><b>Vật dụng nhiễm virus:</b> Tiếp xúc với các bề mặt hoặc vật dụng nhiễm virus, như đồ chơi, quần áo, hoặc bồn tắm, cũng có thể lây bệnh.</li>
    </ul>
  
    <h2 style="margin-top: 2rem;">Những điều cần làm khi bị bệnh tay chân miệng:</h2>
    <ul>
      <li><b>Giữ Vệ Sinh Cá Nhân:</b> Rửa tay thường xuyên bằng xà phòng và nước sạch, đặc biệt sau khi đi vệ sinh, thay tã, hoặc trước khi ăn. Sử dụng khăn giấy hoặc khăn sạch để che miệng và mũi khi ho hoặc hắt hơi.</li>
      <li><b>Giữ Vệ Sinh Môi Trường:</b> Vệ sinh sạch sẽ các bề mặt và vật dụng mà trẻ thường tiếp xúc, như đồ chơi, quần áo, và đồ dùng cá nhân. Khử trùng các bề mặt thường xuyên bằng dung dịch sát khuẩn.</li>
      <li><b>Uống Nhiều Nước:</b> Đảm bảo trẻ uống đủ nước để tránh mất nước, đặc biệt là khi trẻ có triệu chứng sốt hoặc tiêu chảy.</li>
      <li><b>Sử Dụng Thuốc Giảm Đau và Hạ Sốt:</b> Dùng paracetamol hoặc ibuprofen để giảm đau và hạ sốt. Tránh sử dụng aspirin cho trẻ em để phòng ngừa hội chứng Reye.</li>
      <li><b>Ăn Uống Dinh Dưỡng:</b> Cho trẻ ăn thức ăn mềm, dễ tiêu và bổ sung đủ dưỡng chất để giúp cơ thể hồi phục nhanh hơn. Tránh các thức ăn cay, nóng hoặc có tính axit gây kích ứng miệng.</li>
      <li><b>Điều Trị Triệu Chứng:</b> Sử dụng gel hoặc thuốc mỡ giảm đau tại chỗ để làm dịu các vết loét trong miệng. Tránh gãi hoặc làm tổn thương các nốt phỏng để ngăn ngừa nhiễm trùng.</li>
      <li><b>Tránh Tiếp Xúc Gần:</b> Tránh tiếp xúc gần với người khác, đặc biệt là trẻ em khác, để ngăn ngừa lây lan virus. Nghỉ học hoặc nghỉ làm nếu cần thiết để tránh lây nhiễm cho cộng đồng.</li>
      <li><b>Đi Khám Bác Sĩ:</b> Nếu trẻ có triệu chứng nặng như sốt cao, khó thở, nôn mửa liên tục, hoặc có dấu hiệu nhiễm trùng, hãy đưa trẻ đi khám bác sĩ ngay lập tức.</li>
    </ul>
</div>