<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Handbook</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='handbook.css') }}"/>
  <script src="{{ url_for('static', filename='handbook.js') }}"></script>
  
  <!-- <link rel="stylesheet" type="text/css" href="../static/handbook.css"/>
  <script src="../static/handbook.js"></script> -->

  <!-- Tải chat box -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>  
</head>
<body>
  <div id="navbar">
    <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:5000`)" style="color: white">Trang chủ</h1>
    <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:8000`)" style="color: white">Lịch sử</h1>
    <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:80`)" style="color: white">Cẩm nang</h1>
    <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:8080`)" style="color: white">Bản đồ</h1>
  </div>

  <h1 style="padding: 1% 2% 1% 1%; text-align: center; font-size: 2.5rem;">Cẩm nang</h1>

  <div id="overlay" class="overlay" style="display: none;"></div>

  <!-- Danh sách cẩm nang của các bệnh -->
  <div class="container">
    <div class="khung"> 
      <img class="khung-img" src="../static/images/acne.jpg" alt="acne">
      <h1 style="text-align: center;">Mụn trứng cá</h1>
    </div>
    <div class="khung"> 
      <img class="khung-img" src="../static/images/dermatitis.jpg" alt="dermatitis">
      <h1 style="text-align: center;">Viêm da</h1>
    </div>
    <div class="khung"> 
      <img class="khung-img" src="../static/images/ringworm.jpg" alt="ringworm">
      <h1 style="text-align: center;">Nấm da</h1>
    </div>
    <div class="khung"> 
      <img class="khung-img" src="../static/images/skin cancer.jpg" alt="skin cancer">
      <h1 style="text-align: center;">Ung thư da</h1>
    </div>
    <div class="khung"> 
      <img class="khung-img" src="../static/images/herpes.jfif" alt="herpes">
      <h1 style="text-align: center;">Mụn rộp</h1>
    </div>
    <div class="khung"> 
      <img class="khung-img" src="../static/images/chickenpox.jfif" alt="chickenpox">
      <h1 style="text-align: center;">Thủy đậu</h1>
    </div>
    <div class="khung"> 
      <img class="khung-img" src="../static/images/common warts.jfif" alt="common warts">
      <h1 style="text-align: center;">Mụn cóc</h1>
    </div>
    <div class="khung"> 
      <img class="khung-img" src="../static/images/rash.jfif" alt="rash">
      <h1 style="text-align: center;">Phát ban</h1>
    </div>
    <div class="khung"> 
      <img class="khung-img" src="../static/images/hfm.jpeg" alt="hand-foot-mouth">
      <h1 style="text-align: center;">Tay chân miệng</h1>
    </div>
  </div>

  <button id="toggle-button" style="justify-content: center;">Hiển thị thêm</button>

  <div id="content" style="z-index: 3; display: none;">
    <div id="header">Thông tin<button id="close">&#10006;</button></div>
    <div id="body"></div>
  </div>

  <!-- Chat box -->
  <div id="chat-icon">
    <i class="fas fa-comments"></i>
  </div>

  <div id="chat-box" style="z-index: 3; display: none; ">
    <div id="chat-header"> Tư vấn<button id="close-button">&#10006;</button></div>
    <div id="chat-content"></div>
    <input type="'text" id="user-input" placeholder="Nhập câu hỏi của bạn...">
    <button id="send-button">Gủi</button>
  </div>

</body>
</html>
