<div>
    <h2 style="margin-top: 0px;">Nguyên nhân gây ra mụn rộp:</h2>
    <ul>
      <li><b>Virus Herpes Simplex (HSV):</b> Mụn rộp do virus Herpes Simplex gây ra, bao gồm hai loại chính là HSV-1 (thường gây mụn rộp miệng) và HSV-2 (thường gây mụn rộp sinh dục).</li>
      <li><b>Tiếp xúc trực tiếp:</b> Tiếp xúc trực tiếp với vết loét mụn rộp hoặc dịch tiết từ người nhiễm bệnh qua các hoạt động như hôn, quan hệ tình dục hoặc tiếp xúc với dịch cơ thể khác.</li>
      <li><b>Hệ miễn dịch yếu:</b> Những người có hệ miễn dịch suy giảm, chẳng hạn như bệnh nhân HIV/AIDS hoặc người dùng thuốc ức chế miễn dịch, có nguy cơ cao bị mụn rộp.</li>
      <li><b>Căng thẳng:</b> Căng thẳng tinh thần hoặc thể chất có thể kích hoạt tái phát mụn rộp ở người đã nhiễm virus.</li>
      <li><b>Tổn thương da:</b> Tổn thương hoặc kích ứng da có thể tạo điều kiện thuận lợi cho virus xâm nhập và gây ra mụn rộp.</li>
    </ul>
  
    <h2 style="margin-top: 2rem;">Những điều cần làm khi bị mụn rộp:</h2>
    <ul>
      <li><b>Sử Dụng Thuốc Kháng Virus:</b> Tham khảo bác sĩ để được kê đơn thuốc kháng virus như acyclovir, valacyclovir hoặc famciclovir để giảm triệu chứng và ngăn ngừa tái phát.</li>
      <li><b>Giữ Vệ Sinh Cá Nhân:</b> Rửa tay thường xuyên và tránh chạm vào vùng bị mụn rộp để ngăn ngừa lây lan virus. Sử dụng đồ dùng cá nhân riêng biệt và tránh dùng chung với người khác.</li>
      <li><b>Tránh Tiếp Xúc Trực Tiếp:</b> Tránh tiếp xúc trực tiếp với người khác, đặc biệt là trẻ sơ sinh, người già và những người có hệ miễn dịch suy giảm trong giai đoạn bùng phát mụn rộp.</li>
      <li><b>Điều Trị Tại Chỗ:</b> Sử dụng kem bôi chứa acyclovir hoặc các loại thuốc giảm đau không kê đơn để giảm đau và khó chịu do mụn rộp gây ra.</li>
      <li><b>Giảm Căng Thẳng:</b> Thực hành các kỹ thuật giảm căng thẳng như thiền, yoga, hoặc thể dục nhẹ nhàng để giảm nguy cơ tái phát mụn rộp.</li>
      <li><b>Chăm Sóc Vùng Da Bị Ảnh Hưởng:</b> Giữ vùng da bị mụn rộp sạch sẽ và khô ráo, tránh cọ xát hoặc làm tổn thương thêm vùng da này.</li>
      <li><b>Duy Trì Lối Sống Lành Mạnh:</b> Ăn uống cân bằng, ngủ đủ giấc và duy trì hệ miễn dịch mạnh mẽ để giúp cơ thể chống lại virus herpes.</li>
    </ul>
</div>