<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History</title> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='history.css') }}"/>
  <script src="{{ url_for('static', filename='history.js') }}"></script> 
  <!-- 
    <link rel="stylesheet" type="text/css" href="../static/history.css" />
    <script src="../static/history.js"></script> -->
  
    <!-- Tải chat box -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="navbar">
      <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:5000`)" style="color: white">Trang chủ</h1>
      <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:8000`)" style="color: white">Lịch sử</h1>
      <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:80`)" style="color: white">Cẩm nang</h1>
      <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:8080`)" style="color: white">Bản đồ</h1>
    </div>

    <div id="overlay" class="overlay" style="display: none"></div>

    <h1 style="padding: 1% 2% 1% 1%; font-size: 150%">Lịch sử</h1>

    <section class="imagelist" style="display: flex"></section>
    <section
      class="resultlist"
      style="display: flex; flex-direction: column"
    ></section>

    <!-- Chat box -->
    <div id="chat-icon">
      <i class="fas fa-comments"></i>
    </div>

    <div id="chat-box" style="z-index: 3; display: none">
      <div id="chat-header">
        Tư vấn<button id="close-button">&#10006;</button>
      </div>
      <div id="chat-content"></div>
      <input
        type="'text"
        id="user-input"
        placeholder="Nhập câu hỏi của bạn..."
      />
      <button id="send-button">Gủi</button>
    </div>
  </body>
</html>
