<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}"/>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <!-- <link rel="stylesheet" href="../../static/home.css">
    <script src="../../static/home.js"></script> -->

    <!-- Tải chat box -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="navbar">
      <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:5000`)" style="color: white">Trang chủ</h1>
      <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:8000`)" style="color: white">Lịch sử</h1>
      <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:80`)" style="color: white"> Cẩm nang</h1>
      <h1 onclick="location.replace(`${location.protocol}//${location.hostname}:8080`)" style="color: white"> Bản đồ</h1>
    </div>

    <div id="overlay" class="overlay" style="display: none"></div>
    <div id="loading-overlay" style="display: none">
      <div class="loader"></div>
    </div>

    <!-- Overview -->
    <!-- Background Image with Text, the bg img is in style.css -->
    <div class="background-section">
      <div class="text-overlay" style="width: 100%; font-size: 40px">Chăm sóc da tại nhà</div>
    </div>
    <div class="content-section">
      <div class="text-block" style=" margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
        <h1 style="text-align: center; font-size: 30px">Thực trạng</h1>
        <p style="margin-left: 8%; margin-right: 8%; font-size: 20px">
          Tình trạng bệnh da ở Việt Nam đang ngày một gia tăng. Bên cạnh các yếu
          tố ngoại cảnh như điều kiện khí hậu nhiệt đới, môi trường sống đông
          đúc, sự khó khăn trong việc khám chữa trị hay sự chủ quan, thiếu kiến
          thức về chăm sóc da là những yếu tố chính góp phần vào tình trạng này.
          Vì vậy, một trang web có thể vừa hỗ trợ chăm sóc da tại nhà, vừa cung
          cấp các kiến thức liên quan là vô cùng cần thiết.
        </p>
      </div>
      <div  class="image-block"  style="width: 60%; height: auto; margin-left: auto; margin-right: auto">  <img src="../../static/images/2.jpg" alt="Example Image" /></div>
    </div>

    <div id="section1">
      <!-- Warming -->
      <div class="wrapper">
        <section class="warming">
          <h2>Chú ý!</h2>
          <u1>
            <li>Chụp ảnh trong điều kiện ánh sáng tốt</li>
            <li>Mang điện thoại đến gần vùng cần chẩn đoán</li>
            <li>Giữ điện thoại một lúc để ảnh có thể được lấy nét</li>
            <li>Tránh nền quá nhiều để đạt kết quả chính xác nhất</li>
          </u1>
        </section>
      </div>

      <!-- Section 1 -->
      <section class="data">
        <section class="anh">
          <h2>Vùng bệnh</h2>
          <div id="preview" style="margin-left: auto; margin-right: auto"></div>
          <input id="upload-input" type="file" accept="image/*" style="display: none"/>
          <button  id="upload-button"  onclick="document.getElementById('upload-input').click();"> Tải ảnh lên</button>
          <button id="use-button">Chẩn đoán</button>
        </section>

        <div id="myForm">
          <h2 style="margin-bottom: 25px">Triệu chứng</h2>
          <form action="http://127.0.0.1:5000">
            <div>
              <input type="checkbox" id="opt1" name="opt1" value="acne" />
              <label for="opt1" style="font-size: 20px">Nổi mụn đỏ nhỏ hoặc đóng vảy</label>
            </div>
            <div>
              <input type="checkbox" id="opt2" name="opt2" value="acne" />
              <label for="opt2" style="font-size: 20px">Nổi mụn nhọt (mụn mủ)</label>
            </div>
            <div>
              <input type="checkbox" id="opt3" name="opt3" value="der" />
              <label for="opt3" style="font-size: 20px">Vùng da ngứa ngáy, đau rát</label>
            </div>
            <div>
              <input type="checkbox" id="opt4" name="opt4" value="der" />
              <label for="opt4" style="font-size: 20px; margin-left: 2px">Nổi mảng đỏ ngứa, rỉ nước, đóng vảy</label>
            </div>
            <div>
              <input type="checkbox" id="opt5" name="opt5" value="der" />
              <label for="opt5" style="font-size: 20px">Vùng da bị đỏ, viêm hoặc sưng</label>
            </div>
            <div>
              <input type="checkbox" id="opt6" name="opt6" value="der" />
              <label for="opt6" style="font-size: 20px; margin-left: 2px">Mảng da khô, sần sùi, có vảy, bong tróc</label>
            </div>
            <div>
              <input type="checkbox" id="opt7" name="opt7" value="rw" />
              <label for="opt7" style="font-size: 20px; margin-left: 2px">Nổi mẩn đỏ hoặc mụn nước hình vòng</label>
            </div>
            <div>
              <input type="checkbox" id="opt8" name="opt8" value="rw" />
              <label for="opt8" style="font-size: 20px; margin-left: 2px">Phần rìa quanh vùng bệnh khô, bong tróc</label>
            </div>
            <div>
              <input type="checkbox" id="opt9" name="opt9" value="rw" />
              <label for="opt9" style="font-size: 20px; margin-left: 2px">Vùng da ngứa ngáy, gây khó chịu</label>
            </div>
            <div>
              <input type="checkbox" id="opt10" name="opt10" value="sc" />
              <label for="opt10" style="font-size: 20px">Có vết loét chảy máu hoặc có vảy</label>
            </div>
            <div>
              <input type="checkbox" id="opt11" name="opt11" value="sc" />
              <label for="opt11" style="font-size: 20px">Có vết sưng hoặc khối u đỏ hoặc nâu</label>
            </div>
            <div>
              <input type="checkbox" id="opt12" name="opt12" value="sc" />
              <label for="opt12" style="font-size: 20px">Diện mạo của nốt ruồi thay đổi kì lạ</label>
            </div>
          </form>
        </div>
      </section>
    </div>

    <!-- Section 2 -->
    <div class="result">
      <h2 style="text-align: center">Kết quả</h2>
      <div class="container"></div>
    </div>

    <!-- Chat box -->
    <div id="chat-icon">
      <i class="fas fa-comments"></i>
    </div>

    <div id="chat-box" style="z-index: 3; display: none">
      <div id="chat-header">Tư vấn<button id="close-button">&#10006;</button>
      </div>
      <div id="chat-content"></div>
      <input type="'text" id="user-input" placeholder="Nhập câu hỏi của bạn..."/>
      <button id="send-button">Gủi</button>
    </div>
  </body>
</html>
