<div>
    <h2 style="margin-top: 0px;">Nguyên nhân gây ra phát ban:</h2>
    <ul>
      <li><b>Dị ứng:</b> Phát ban có thể do dị ứng với thực phẩm, thuốc, mỹ phẩm, hoặc các chất khác như phấn hoa, lông động vật, và chất tẩy rửa.</li>
      <li><b>Nhiễm trùng:</b> Các loại nhiễm trùng do vi khuẩn, virus hoặc nấm có thể gây phát ban. Ví dụ như bệnh thủy đậu, sởi, và nấm da.</li>
      <li><b>Kích ứng da:</b> Tiếp xúc với các chất gây kích ứng như hóa chất, xà phòng mạnh, hoặc quần áo không thoáng khí có thể gây phát ban.</li>
      <li><b>Bệnh lý tự miễn:</b> Một số bệnh lý tự miễn như lupus, bệnh vảy nến có thể gây phát ban.</li>
      <li><b>Côn trùng cắn:</b> Cắn của muỗi, kiến, ve, hoặc bọ chét có thể gây phản ứng da và phát ban.</li>
      <li><b>Stress:</b> Căng thẳng tinh thần hoặc thể chất có thể làm tình trạng phát ban trở nên tồi tệ hơn.</li>
    </ul>
  
    <h2 style="margin-top: 2rem;">Những điều cần làm khi bị phát ban:</h2>
    <ul>
      <li><b>Giữ Vệ Sinh Cá Nhân:</b> Giữ vùng da bị phát ban sạch sẽ và khô ráo. Rửa nhẹ nhàng bằng nước ấm và xà phòng dịu nhẹ, sau đó lau khô bằng khăn mềm.</li>
      <li><b>Tránh Kích Ứng:</b> Tránh tiếp xúc với các chất gây kích ứng hoặc dị ứng đã biết. Sử dụng quần áo thoáng khí, không gây chà xát lên da.</li>
      <li><b>Sử Dụng Thuốc Bôi:</b> Dùng kem hoặc thuốc mỡ có chứa corticoid hoặc thuốc kháng histamine để giảm ngứa và viêm. Tham khảo bác sĩ để chọn loại thuốc phù hợp.</li>
      <li><b>Giảm Ngứa:</b> Sử dụng khăn lạnh hoặc tắm nước mát để giảm ngứa và khó chịu. Tránh gãi để ngăn ngừa nhiễm trùng và tổn thương da.</li>
      <li><b>Uống Thuốc Kháng Histamine:</b> Nếu phát ban do dị ứng, uống thuốc kháng histamine không kê đơn có thể giúp giảm triệu chứng.</li>
      <li><b>Tránh Căng Thẳng:</b> Thực hành các kỹ thuật giảm căng thẳng như thiền, yoga, hoặc thể dục nhẹ nhàng để giúp cơ thể hồi phục nhanh hơn.</li>
      <li><b>Đi Khám Bác Sĩ:</b> Nếu phát ban không cải thiện sau vài ngày, lan rộng, hoặc kèm theo sốt, đau, hoặc sưng, tham khảo bác sĩ để được chẩn đoán và điều trị kịp thời.</li>
    </ul>
</div>