<div>
    <h2 style="margin-top: 0px;">Nguyên nhân gây ra nấm da:</h2>
    <ul>
      <li><b>Vi khuẩn nấm:</b> Nấm da là do các loại nấm dermatophytes gây ra, chúng sống trên da, tóc và móng tay. Các loại nấm phổ biến gây nấm da bao gồm Trichophyton, Microsporum, và Epidermophyton.</li>
      <li><b>Tiếp xúc trực tiếp:</b> Tiếp xúc trực tiếp với người, động vật, hoặc bề mặt bị nhiễm nấm có thể truyền nấm da. Việc dùng chung đồ dùng cá nhân như khăn tắm, quần áo, và giường chiếu cũng có thể là nguyên nhân.</li>
      <li><b>Độ ẩm và nhiệt độ:</b> Môi trường ẩm ướt và ấm áp là điều kiện lý tưởng cho nấm phát triển. Đổ mồ hôi nhiều và mặc quần áo chật có thể tạo điều kiện thuận lợi cho nấm phát triển.</li>
      <li><b>Sức đề kháng yếu:</b> Hệ miễn dịch yếu hoặc tổn thương da có thể làm tăng nguy cơ nhiễm nấm da.</li>
    </ul>
  
    <h2 style="margin-top: 2rem;">Những điều cần làm khi bị nấm da:</h2>
    <ul>
      <li><b>Giữ Da Sạch Và Khô:</b> Rửa sạch và lau khô vùng da bị nhiễm nấm hàng ngày. Tránh để da ẩm ướt và mặc quần áo thoáng khí để da luôn khô ráo.</li>
      <li><b>Sử Dụng Thuốc Bôi Kháng Nấm:</b> Dùng các loại kem, gel, hoặc thuốc mỡ chứa kháng nấm như clotrimazole, miconazole, hoặc terbinafine. Tham khảo bác sĩ để có liệu trình điều trị phù hợp.</li>
      <li><b>Tránh Tiếp Xúc Trực Tiếp:</b> Tránh tiếp xúc trực tiếp với vùng da bị nhiễm nấm của người khác hoặc động vật. Không dùng chung đồ dùng cá nhân như khăn tắm, quần áo, và giường chiếu.</li>
      <li><b>Giữ Vệ Sinh Cá Nhân:</b> Rửa tay thường xuyên, đặc biệt sau khi chạm vào vùng da bị nhiễm nấm. Giữ móng tay ngắn và sạch để tránh lây lan nấm.</li>
      <li><b>Thay Đổi Thói Quen Vệ Sinh:</b> Thường xuyên giặt và phơi khô quần áo, khăn tắm, và giường chiếu ở nhiệt độ cao để tiêu diệt nấm. Tránh mặc quần áo chật và ẩm ướt trong thời gian dài.</li>
      <li><b>Điều Trị Toàn Diện:</b> Trong trường hợp nhiễm nấm nghiêm trọng, bác sĩ có thể kê đơn thuốc uống kháng nấm để điều trị toàn diện. Tuân thủ đầy đủ liệu trình điều trị để đảm bảo hiệu quả.</li>
    </ul>
  </div>