<div>
    <h2 style="margin-top: 0px;">Nguyên nhân gây ra ung thư da:</h2>
    <ul>
      <li><b>Tia UV:</b> Tiếp xúc với tia cực tím (UV) từ ánh nắng mặt trời hoặc từ các nguồn nhân tạo như đèn UV trong phòng tắm nắng là nguyên nhân chính gây ung thư da.</li>
      <li><b>Di truyền:</b> Yếu tố di truyền có thể làm tăng nguy cơ mắc ung thư da. Nếu trong gia đình có người mắc ung thư da, nguy cơ của bạn cũng tăng lên.</li>
      <li><b>Màu da:</b> Người có làn da sáng màu, mắt xanh, hoặc tóc vàng, đỏ có nguy cơ mắc ung thư da cao hơn so với người có làn da tối màu.</li>
      <li><b>Hệ miễn dịch yếu:</b> Những người có hệ miễn dịch suy giảm, chẳng hạn như bệnh nhân cấy ghép nội tạng hoặc người bị HIV/AIDS, có nguy cơ mắc ung thư da cao hơn.</li>
      <li><b>Tiếp xúc với hóa chất:</b> Tiếp xúc với các hóa chất độc hại như arsenic có thể làm tăng nguy cơ ung thư da.</li>
      <li><b>Tiền sử mắc bệnh:</b> Những người đã từng mắc các loại ung thư da trước đây có nguy cơ cao tái phát.</li>
    </ul>
  
    <h2 style="margin-top: 2rem;">Những điều cần làm khi bị ung thư da:</h2>
    <ul>
      <li><b>Khám và Điều Trị Sớm:</b> Tham khảo bác sĩ da liễu để được khám và chẩn đoán sớm. Điều trị sớm giúp tăng cơ hội khỏi bệnh và giảm thiểu nguy cơ di căn.</li>
      <li><b>Sử Dụng Kem Chống Nắng:</b> Sử dụng kem chống nắng hàng ngày với chỉ số SPF ít nhất là 30. Bôi kem lại mỗi hai giờ và sau khi bơi hoặc đổ mồ hôi nhiều.</li>
      <li><b>Tránh Tiếp Xúc Với Tia UV:</b> Tránh tiếp xúc với ánh nắng mặt trời vào giờ cao điểm từ 10 giờ sáng đến 4 giờ chiều. Mặc quần áo bảo hộ, đội mũ rộng vành và đeo kính râm để bảo vệ da khỏi tia UV.</li>
      <li><b>Kiểm Tra Da Thường Xuyên:</b> Tự kiểm tra da hàng tháng để phát hiện sớm các dấu hiệu bất thường. Đi khám da liễu định kỳ để được kiểm tra toàn diện.</li>
      <li><b>Tránh Sử Dụng Giường Tắm Nắng:</b> Không sử dụng giường tắm nắng hoặc các nguồn tia UV nhân tạo khác.</li>
      <li><b>Duy Trì Lối Sống Lành Mạnh:</b> Ăn uống cân bằng, giữ gìn vệ sinh cá nhân, và duy trì hoạt động thể chất đều đặn để tăng cường hệ miễn dịch.</li>
      <li><b>Điều Trị Theo Hướng Dẫn Bác Sĩ:</b> Tuân thủ đúng liệu trình điều trị do bác sĩ chỉ định, bao gồm cả phẫu thuật, xạ trị hoặc liệu pháp miễn dịch nếu cần thiết.</li>
    </ul>
</div>