body {
    font-family: Cambria;
}

header {
    display: flex;
    background-color: black;
    padding: 0% 1% 0% 1%;
    text-align: center;
    position: sticky;
    z-index: 2;
}

h1 {
    display: block;
    font-size: 100%;
    font-weight: bold;
    margin: 1%;
}

/* Style của section 1*/
.khung {
    border: 1px solid black; 
    padding: 10px;           
    width: fit-content;
    margin: 20px;
    border-radius: 20px;      
}

.khung-img {
    width: 200px; 
    height: 200px; 
    margin: auto;
    border-radius: 20px;
}

.date-container {
    display: flex;
    justify-content: center; 
    margin-top: 5px; 
}
  
.date-label {
font-size: 1em; 
margin-right: 5px; 
}
/* ========================================================== */

/* Style của section 2 */
.result {
    border: 1px solid black; 
    padding: 20px;           
    width: 97%;
    border-radius: 50px;           
    box-shadow: 10px 10px 50px rgb(146, 146, 146);
}

.frame {
    border: 1px solid black; 
    padding: 10px;           
    width: fit-content;
    margin: auto;
}

.frame-img {
    width: 200px; 
    height: 200px; 
    margin: 10px;
}

#frame-sm {
    border: 1px solid black; 
    padding: 10px;           
    width: fit-content;
    display: flex;
    margin: 30px;  
}

#frame-sm img {
    width: 150px; 
    height: 150px; 
    margin: auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

