<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>History</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  <script src="{{ url_for('static', filename='script.js') }}"></script> 
</head>
<body>
  <header>
    <h1 style="color: white">Trang chủ</h1>
    <h1 style="color: white">Lịch sử</h1>
    <h1 style="color: white">Cẩm nang</h1>
    <h1 style="color: white">Map</h1>
  </header>

  <h1 style="padding: 1% 2% 1% 1%; font-size: 150%">Lịch sử</h1>

  <section class="imagelist" style="display: flex; flex-wrap: wrap;"></section>
  <section class="result" style="display: flex; margin-top: 60px;"></section>

</body>
</html>
